
.components-navbar{
  display: flex;
  width:100%;
  flex-direction: row;
  background-color: #1f263e;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 2px 35px 84px 5px rgba(105,110,126,0.76);
-moz-box-shadow: 2px 35px 84px 5px rgba(105,110,126,0.76);
box-shadow: 2px 35px 84px 5px rgba(105,110,126,0.76);
}
.components-navbar-t1{
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 3px 0 0 20px;
}

.components-navbar-t2{
  font-family: OpenSans;
  font-size: 14px;
  color: #ffffff;
  margin: 0 20px 0 0;
  border: 1px solid #ffffff;
  width: 100px;
  padding:12px;
  align-self: center;
  text-align: center;
  border-radius: 20px;
}
.components-navbar-t2:hover{

  -webkit-box-shadow: 10px 10px 61px 63px rgba(255,255,255,0.25);
-moz-box-shadow: 10px 10px 61px 63px rgba(255,255,255,0.25);
box-shadow: 10px 10px 61px 63px rgba(255,255,255,0.25);
}

.components-navbar-leftside{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
.components-navbar-rightside{
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  flex-direction: row;
  align-items: center;
}
.x{
  width: 150px;
}